/* Reset some default browser styles */
* {
    
    margin-top: 0px;
       box-sizing: border-box;   
    width:100%;
    /* position: sticky;
    margin-bottom: 40px;
    position:sticky; */
    
    
  }
  
  body {
    font-family: Arial, sans-serif;
    
  }
  
  .navbar {
        position:fixed;
        top:0;
        background: linear-gradient(45deg,#000428, #004e92);
        
    
    color: #fff;
    padding: 8px 20px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
  }
  
 

  .navbar-brand a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    
  }

  .navbar-brand a:hover{
    color:#feb47b;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    
  }
  
  .navbar-links li {
    margin-left: 20px;
  }
  
  .navbar-links a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
  }
  
  .navbar-links a:hover {
    text-decoration: underline;
    color:#feb47b;
  }
  